.card {
  display: flex;
  flex-direction: column;
  background-color: var(--card-background-color);
  gap: 8px;
}

.card .title {
  display: flex;
  align-items: center;
  gap: 8px;
}

.card .title .icon {
  width: 20px;
}

.card .add-button {
  align-self: center;
  display: flex;
  justify-content: center;
  background-color: transparent;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 3px solid #999999;
  padding: 2px;
}

.card .add-button:hover {
  background-color: var(--main-background-color);
  cursor: pointer;
}

.card .add-icon {
  width: 40px;
}
