.card {
  display: flex;
  flex-direction: column;
  background-color: var(--card-background-color);
  gap: 8px;
}

.card .title {
  display: flex;
  align-items: center;
  gap: 8px;
}

.card .title .icon {
  width: 20px;
}

.card .add-button {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  border-radius: var(--rounded-corners);
  width: 100px;
  font-weight: 600;
  color: #999999;
}

.card .add-button:hover {
  cursor: pointer;
  background-color: var(--hover-color);
}

.card .add-icon {
  width: 30px;
}
