.edit-selector {
  margin-bottom: 4px;
}

.selector-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: var(--rounded-corners);
  font-weight: 600;
  box-shadow: var(--card-shadow);
}

.selector-buttons:hover {
  background-color: var(--hover-color);
  cursor: pointer;
}

.selector-buttons button {
  height: 50px;
  background-color: transparent;
  border: none;
}

.selector-buttons button:hover {
  cursor: pointer;
}

.selector-buttons .edit-element {
  display: flex;
  align-items: center;
  width: 100%;
}

.selector-buttons .edit-element .icon {
  width: 25px;
  margin-right: 4px;
}

.selector-buttons .edit-element .icon.collapse {
  transform: scaleY(-1);
}

.selector-buttons .delete-element {
  width: 24px;
  height: 24px;
  background: url("../assets/delete-outline.svg") no-repeat center/cover;
  cursor: pointer;
  margin-right: 8px;
}

.selector-buttons .delete-element:hover {
  background-image: url("../assets/delete-empty-outline.svg");
}

.selector-buttons .edit-element .reference {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.edit-form {
  display: none;
  background-color: var(--card-background-color);
  margin-top: 8px;
  margin-left: 8px;
}

.edit-form.show {
  display: flex;
  flex-direction: column;
  gap: 8px;
  animation: dropdown 0.25s ease-in-out;
  transform-origin: top;
}

@keyframes dropdown {
  0% {
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
  }
}
