.selector-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: var(--rounded-corners);
  font-weight: 600;
}

.selector-buttons:hover {
  background-color: var(--hover-color);
  cursor: pointer;
}

.selector-buttons button {
  height: 50px;
  background-color: transparent;
  border: none;
}

.selector-buttons button:hover {
  cursor: pointer;
}

.selector-buttons .edit-element {
  display: flex;
  align-items: center;
  width: 100%;
}

.selector-buttons .edit-element .icon {
  width: 25px;
}

.selector-buttons .edit-element .icon.collapse {
  transform: scaleY(-1);
}

.selector-buttons .delete-element {
  width: 24px;
  height: 24px;
  background: url("../assets/delete-outline.svg") no-repeat center/cover;
  cursor: pointer;
  margin-right: 8px;
}

.selector-buttons .delete-element:hover {
  background-image: url("../assets/delete-empty-outline.svg");
}

.edit-form {
  display: none;
  background-color: var(--card-background-color);
  margin-left: 8px;
}

.edit-form.show {
  display: block;
}
