.edit-card-list .customise-options {
  display: flex;
  gap: 16px;
}

.edit-card-list .customise-options button {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.edit-card-list .customise-options .color-option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.edit-card-list .customise-options .layout-icon {
  width: 40px;
  height: 40px;
  background: linear-gradient(
    to bottom,
    var(--accent-color) 50%,
    var(--card-background-color) 50%
  );
  border: 1px solid black;
  border-radius: var(--rounded-corners);
}

.edit-card-list .customise-options button.selected .layout-icon,
.edit-card-list .customise-options button.selected .font-icon {
  border: none;
  outline: 3px solid var(--outline-color);
}

.edit-card-list .customise-options .layout-icon.left {
  transform: rotate(-90deg);
}

.edit-card-list .customise-options .layout-icon.right {
  transform: rotate(90deg);
}

input[type="color" i] {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border-color: none;
  background-color: var(--main-background-color);
}

.edit-card-list .customise-options .font-icon {
  font-size: 1.4rem;
  border: 1px solid black;
  width: 40px;
  height: 40px;
  padding: 4px;
}
