.field {
  display: flex;
  flex-direction: column;
}

.field input,
.field textarea {
  border: none;
  background-color: var(--main-background-color);
  padding: 8px;
  border-radius: var(--rounded-corners);
}

.field textarea {
  height: 200px;
  resize: vertical;
}

.field label {
  color: var(--lighter-main-text-color);
  font-weight: 500;
}
