.field {
  display: flex;
  flex-direction: column;
}

.field input {
  border: none;
  background-color: var(--main-background-color);
  padding: 8px;
  border-radius: 8px;
}

.field label {
  font-weight: 600;
}
