:root {
  --resume-font: serif;
  --subheading-color: #ebecef;
}

.resume {
  position: sticky;
  top: 40px;
  align-self: flex-start;
  width: 795px;
  min-height: 1125px;
  box-shadow: var(--card-shadow);
  background-color: var(--card-background-color);
  font-family: var(--resume-font);
}

.resume.left,
.resume.right {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
}

/* Make top level resume divs reverse in order but ensure all children read in the same direction */
.resume.right {
  direction: rtl;
}
.resume.right > * {
  direction: ltr;
}

.resume .header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-color);
  color: var(--alt-text-color);
  padding-bottom: 30px;
  height: 150px;
}

.resume.left .header,
.resume.right .header {
  justify-content: flex-start;
  padding: 25px;
  height: auto;
}

.resume.left .header h1,
.resume.right .header h1 {
  margin-bottom: 20px;
}

.resume .header .personal-details {
  display: flex;
  gap: 12px;
}

.resume.left .header .personal-details,
.resume.right .header .personal-details {
  flex-direction: column;
  align-items: flex-start;
}

.resume .header .personal-details p {
  display: flex;
  justify-content: center;
}

.resume .header .personal-details .icon {
  width: 22px;
  margin-right: 8px;
}

.resume section {
  padding: 30px 60px 0 60px;
}

.resume section h2 {
  background-color: var(--subheading-color);
  text-align: center;
}

.resume .education,
.resume .experience {
  margin: 8px 0;
  display: grid;
  grid-template-columns: 2.5fr 1fr;
}

.resume.left .education,
.resume.left .experience,
.resume.right .education,
.resume.right .experience {
  grid-template-columns: 1.5fr 1fr;
}

.resume .duration-location {
  font-style: italic;
}

.resume .experience .description {
  grid-column: span 2;
  margin-top: 8px;
}

.resume .experience .title {
  font-style: italic;
}

@media (max-width: 1200px) {
  .resume section {
    padding: 20px 40px 0 40px;
  }

  .resume .header {
    height: 130px;
  }

  .resume .personal-details {
    font-size: 0.8rem;
  }
}

@media (max-width: 800px) {
  .resume {
    position: static;
    width: auto;
    height: auto;
  }

  .resume section {
    padding: 30px 60px 0 60px;
  }
}

@media (max-width: 600px) {
  .resume section {
    padding: 10px 20px 0 20px;
  }

  .resume .header {
    height: 120px;
  }

  .resume .personal-details {
    font-size: 0.7rem;
  }
}
