:root {
  --resume-font: serif;
}

.resume {
  width: 795px;
  height: 1125px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  background-color: var(--card-background-color);
  font-family: var(--resume-font);
}

.resume.left,
.resume.right {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
}

/* Make top level resume divs reverse in order but ensure all children read in the same direction */
.resume.right {
  direction: rtl;
}
.resume.right > * {
  direction: ltr;
}

.resume .header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-color);
  color: var(--alt-text-color);
}

.resume.left .header,
.resume.right .header {
  justify-content: flex-start;
  padding: 25px;
}

.resume.left .header h1,
.resume.right .header h1 {
  margin-bottom: 20px;
}

.resume .header .personal-details {
  display: flex;
  gap: 12px;
}

.resume.left .header .personal-details,
.resume.right .header .personal-details {
  flex-direction: column;
  align-items: flex-start;
}

.resume .header .personal-details p {
  display: flex;
  justify-content: center;
}

.resume .header .personal-details .icon {
  width: 22px;
  margin-right: 8px;
}

.resume section {
  padding: 30px 60px;
}

.resume section h2 {
  background-color: var(--main-background-color);
  text-align: center;
}

.resume .education,
.resume .experience {
  margin: 8px 0;
  display: grid;
  grid-template-columns: 2.5fr 1fr;
}

.resume.left .education,
.resume.left .experience,
.resume.right .education,
.resume.right .experience {
  grid-template-columns: 1.5fr 1fr;
}

.resume .duration-location {
  font-style: italic;
}

.resume .experience .description {
  grid-column: span 2;
  margin-top: 8px;
}

.resume .experience .title {
  font-style: italic;
}
