.resume {
  width: 795px;
  height: 1125px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  background-color: var(--card-background-color);
}

.resume .header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-color);
  color: var(--alt-text-color);
}

.resume .header .personal-details {
  display: flex;
  gap: 12px;
}

.resume .header .personal-details p {
  display: flex;
  justify-content: center;
}

.resume .header .personal-details .icon {
  width: 25px;
  margin-right: 8px;
}

.resume section {
  padding: 30px 60px;
}

.resume section h2 {
  background-color: var(--main-background-color);
  text-align: center;
}

.resume .education,
.resume .experience {
  margin: 8px 0;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.resume .duration-location {
  font-style: italic;
}

.resume .experience .description {
  grid-column: span 2;
  margin-top: 8px;
}

.resume .experience .title {
  font-style: italic;
}
