.resume {
  width: 795px;
  height: 1125px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.resume .header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0f364d;
  color: white;
  padding: 30px 0;
}

.resume .header .personal-details {
  display: flex;
  gap: 12px;
}
