.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.card {
  width: 330px;
  padding: 20px;
  box-shadow: var(--card-shadow);
  border-radius: var(--rounded-corners);
}

.edit-card-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 330px;
}

@media (max-width: 800px) {
  .edit-card-list {
    width: 100%;
  }
  .card {
    width: 100%;
  }
}
